/CMakeLists.txt
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
.stfolder
*.pyo
*.pyc
desktop.ini
*.sublime-workspace
*.swp
._*
__pycache__