<?xml version="1.0"?>
<launch>
	<param name="robot_description" textfile="$(find robot_description_infantry)/xacro/urdf/robot.urdf" />
	<rosparam command="load" file="$(find robot_description_infantry)/config/controllers.yaml" />
	<rosparam command="load" file="$(find robot_description_infantry)/config/hardware_description.yaml" />
	<rosparam command="load" file="$(find robot_description_infantry)/config/sensor_imu.yaml" />
    <rosparam command="load" file="$(find robot_description_infantry)/config/rc_control.yaml" />
    <param name="robot_control/communication/usb/local_mode" value="true" />
	<node name="robot_control" pkg="robot_control" type="robot_control_node" output="screen" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="controller_manager" pkg="controller_manager" type="controller_group" args="spawn real_robot" />
    <node name="rc_control" pkg="rc_control" type="rc_control_node" />
</launch>